*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
    color: #fff;
    padding: 1em;
    display: flex;
    gap: 0.5rem;
}
.form{
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #262626;
 padding-bottom: 1em;
 border-radius: 10px;
    border: 2px solid #4d4c4c;

}
.userform{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
 
}
.form h1{
    font-size: 30px;
    font-family: sans-serif;
}
.userform input,textarea{
    padding: 0.5em;
    border-radius: 5px;
    background-color: #3b3b3b;
    outline: none;
    border: none;
    color: #fff;
}
.userform label{
    text-align: left;
}
.userform button{
    padding: 0.75em 1em;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(106, 97, 97);
    background-color: #1f1f1f;
    color: #fff;
    margin-top: 1em;
}
.cards{
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    width: 40%;
    display: inline-block;
    border: 4px solid #3b3b3b;
    margin: 0 auto;
    background-color: #262626;
    padding-inline: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    border-radius: 10px;
 
}
.card h3,h4,h5{
    font-family: "Poppins";
    font-weight: 600;
}
.card h4,h5{
    font-family: "Poppins";
    font-weight: 400;
    margin-top: -15px;
}
.img{
      width: 150px;
    height: 150px;
    border-radius: 50%;
   display: inline-block;
    border: 5px solid rgb(129, 127, 127);
 
}
img{
    width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}